.product-category {
    margin-top: 40px;
    margin-bottom: 30px;
    .heading-category {
        margin-bottom: 30px;
        font-size: 24px;

    }

    .category__row {
        gap: 15px;
        margin: 0 auto;
        .col {
            padding: 0;
            overflow: hidden;
            border-radius: 10px;

            &:nth-child(1) {
                background-color: #FDE364;
            }

            &:nth-child(2) {
                background-color: #FF9254;
            }

            &:nth-child(3) {
                img{
                    right: -20px;
                }
            }
        }

        .box {
            position: relative;
            height: 232px;
            width: 168px;
            span {
                position: absolute;
                top: 20px;
                left: 0;
                right: 0;
                text-align: center;
                font-weight: 500;
                z-index: 4;
            }

            img {
                object-fit: cover;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 2;
                border-radius: 10px;
            }
        }
    }
}