header {
    height: 65px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #D9D9D9;

    .container {
        padding: 0;

        .header__row {
            width: 1108px;
            margin: auto;

            .header__column {
                padding: 0;
                flex: 0 0 auto;
                width: 20%;
                display: flex;
                align-items: center;

                &:nth-child(2) {
                    width: 60%;
                }

                &:nth-child(3) {
                    width: 20%;
                    display: flex;
                    justify-content: end;
                }

                .header__logo {
                    height: 168px;
                    height: 42px;
                }

                .header__navigation {
                    margin: 0;
                    li {
                        list-style: none;
                        display: inline-block;
                        padding: 0 28px;

                        a {
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }

                .header__login {
                    background-color: #FF9C00;
                    color: #fff;
                    margin-right: 20px;
                    border: none;
                }

                .header__logout {
                    color: #FF9C00;
                    background-color: #fff;
                    border: 2px solid #FF9C00;
                }

                .header__login,
                .header__logout {
                    border-radius: 100px;
                    width: 91px;
                    height: 35px;
                }
            }
        }
    }








}