$gray: #f1f0f0;
$gray-500: rgb(241, 240, 240, .5);
$gray2: #454D4A;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:  #ECF4FF;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
}

.row{
    display: flex;
    &--content-between{
        justify-content: space-between;
    }
    &--content-end{
        justify-content: end;
    }
    .column{
        flex: 1;
    }
}

input{
    border-radius: 5px;
}

.heading{
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background: linear-gradient(90deg, $gray 60%,  $gray-500 ) ;
    color: $gray2;
}

.icon{
    font-size: 1.5rem;
    text-align: center;
    padding: 3px;
    line-height: 55px;
}
